{% extends "nagusia/oinarria.html" %}

{% block edukia %}
<section class="col-md-12" style="margin-top:100px">

</section>
<section id="fun-facts">
  <div class="container">
    <div class="row">
      <div class="col-lg-1"></div>
      <div class="col-md-6 col-lg-2">
        <div class="fun-fact text-center">
          <h3><i class="fa fa-adjust"></i>1</h3>
          <p>1 txanpona</p>
        </div>
      </div>
      <div class="col-md-6 col-lg-2">
        <div class="fun-fact text-center">
          <h3><i class="fa fa-adjust"></i>1</h3>
          <p>2 txanpona</p>
        </div>
      </div>
      <div class="col-md-6 col-lg-2">
        <div class="fun-fact text-center">
          <h3><i class="fa fa-adjust"></i>1</h3>
          <p>3 txanpona</p>
        </div>
      </div>
      <div class="col-md-6 col-lg-2">
        <div class="fun-fact text-center">
          <h3><i class="fa fa-adjust"></i>1</h3>
          <p>4 txanpona</p>
        </div>
      </div>
      <div class="col-md-6 col-lg-2">
        <div class="fun-fact text-center">
          <h3><i class="fa fa-adjust"></i>1</h3>
          <p>5 txanpona</p>
        </div>
      </div>
      <div class="col-lg-1"></div>
    </div>
    <div class="row">
      <form action="ausa">
        <button class="btn" name="button">TXANPONAK JAURTI</button>
      </form>
    </div>
  </div>
</section>

{% endblock %}
